<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Diagnostic reports will be send to the CocoaNuts servers and are entirely anonymous.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Gremlin</string>
			<key>defaults</key>
			<string>co.cocoanuts.gremlin</string>
			<key>key</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>co.cocoanuts.gremlin/refresh</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Diagnostics</string>
			<key>defaults</key>
			<string>co.cocoanuts.gremlin</string>
			<key>key</key>
			<string>ReportCrashes</string>
			<key>PostNotification</key>
			<string>co.cocoanuts.gremlin/refresh</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Notification Center</string>
			<key>defaults</key>
			<string>co.cocoanuts.gremlin</string>
			<key>key</key>
			<string>NotificationCenterWidget</string>
			<key>PostNotification</key>
			<string>co.cocoanuts.gremlin/refresh</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Follow Us...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>id</key>
			<string>http://twitter.com/cocoanutapps</string>
			<key>label</key>
			<string>Follow @CocoaNuts</string>
			<key>icon</key>
			<string>nutz.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>id</key>
			<string>http://twitter.com/yfrancis</string>
			<key>label</key>
			<string>Follow @yfrancis</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Gremlin</string>
</dict>
</plist>
